<aside class="main-sidebar sidebar-dark-primary elevation-4">


  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{dataUsuario.foto_img}}" onerror="this.src='assets/img/default/user-men.jpg';"
          class="img-circle elevation-2" alt="{{dataUsuario.nombre_rol }}">
      </div>
      <div class="info">
        <a class="d-block" *ngIf="textType === 'password'; else showUserName">*****</a>
        <ng-template #showUserName>
          <a class="d-block">{{ dataUsuario.nombre }} {{ dataUsuario.apellido }}</a>
        </ng-template>
      </div>
    </div>

    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <nav>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
        <app-menu-recursivo *ngIf="dataMenu" [dataMenu]="dataMenu"></app-menu-recursivo>
      </ul>
    </nav>


  </div>
</aside>