<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-top: 15px;">
        <div class="card card-primary  card-outline">
          <div class="card-header">
            <a class="d-block w-100 " data-card-widget="collapse">
              <h3 class="card-title"><i class="fa fa-cube"></i>Gestor de {{objDataManager.titulo}}</h3>
            </a>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <table id="{{strIdentificador}}" class="display table table-bordered table-striped dataTable dtr-inline"
              style="width:100%">

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 